<!--
    ioBroker.vis vis-knx-widget Widget-Set

    version: "0.0.1"

    Copyright 2022 Stefan Preuß stefan.preuss@mail.de
-->

<link rel="stylesheet" href="widgets/vis-knx-widget/css/style.css" />


<script type="text/javascript" src="widgets/vis-knx-widget/js/vis-knx-widget.js"></script>

<script id="tplVis-knx-widgetHelper"
        type="text/ejs"
        class="vis-tpl"
        data-vis-prev='<div id="prev_tplVis-knx-widgetHelper" style="position: relative; text-align: initial;padding: 4px "><div class="vis-widget_prev" style="width: 280px; height: 159px;" > <div class="vis-knx-widget-class vis-widget-prev-body " style="padding:2px"> OID: blabla </div>'
        data-vis-attrs="name[Shutter]/html;shutterStatus/id;bladeStatus/id"
        data-vis-set="vis-knx-widget"
        data-vis-type="KNX Widget"
        data-vis-beta="true"
        data-vis-name="Shutter">


    <div class="vis-widget vis-knx-widget <%== this.data.attr('class') %>" style="overflow:visible; width: 370px; height: 230px" id="<%= this.data.attr('wid') %>">
        <% vis.binds['vis-knx-widget'].createWidget(this.data.wid, this.view, this.data, this.style); %>
        <div class="container"></div>
    </div>

</script>






